{{! Simple Handlebars layout from the Handlebars tutorial: https://www.npmjs.com/package/express-handlebars}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>chaaras - CS493 - Final Project</title>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>