<h1>Welcome</h1>

<div>
    Sign in to see information about your user profile.
    <br>
    <a href={{url}}>
        <img src="/images/btn_google_signin_light_normal_web.png" title="Sign in with Google">
    </a>
</div>